/* style.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  padding: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 50px 20px;
}


h1 {
  font-size: 36px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #220606;
  margin-bottom: 20px;
}

.imgclass:hover {
  transform: scale(1.1); /* Increases the size by 10% */
  transition: transform 0.3s ease-in-out; /* Adds a smooth transition effect */
  filter: brightness(120%); /* Increases the brightness of the image */
  border: 2px solid red; /* Adds a red border with a width of 2 pixels */
}

.cta-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #fff;
  color: #007bff;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-btn:hover {
  background-color: #007bff;
  color: #fff;
}

h2 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

footer {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

footer p {
  font-size: 14px;
  color: #777;
  margin: 0;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photo {
  flex-basis: calc(50% - 10px);
  padding: 10px;
  box-sizing: border-box;
  /* height: 100px; adjust to the desired height */
}

.photo-large {
  flex-basis: calc(2 * (50% - 10px));
  /* height: 200px; adjust to the desired height */
}

.photo img {
  max-width: 100%;
  height: auto;

}
